/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         false;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    true;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

$brand-color: #E5322D;
$brand-secondary: #08F;
$base-font-size: 14px;
$small-font-size: 13px;
$doc-font-size: 14;
$base-font-family: "Source Sans Pro", sans-serif;
$headings-font-family: "Source Sans Pro", sans-serif;
$headings-font-weight: bold;

$h4-size:           18px; // .delta
$h3-size:           $h4-size + 16px; // .gamma
$h2-size:           $h3-size + $h4-size; // .beta
$h1-size:           $h2-size + $h3-size; // .alpha



/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
$base-ui-color: #ddd;
$dark-ui-color: #F2F2F2;
$border-radius: 3px;
$padding-reset-sm: 12px;
$padding-reset: $base-font-size;
$gutter: $padding-reset*2;
$gutterMd: $gutter*2;

/* 
 * Resources
 */
// http://soundcityproject.com/#/list
// http://www.fubiz.net/
// http://rdt54.ch/prestations?a=false
// http://rytterrytter.com/
// http://www.eginstill.com/
// http://ionicons.com/