
.main{
	font-family:  'Open sans', serif;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
	
}

/*  ---------------------
		Media Queries 
	--------------------- */

/* -- Portrait & Landscape phone -- */
@media (max-width: 480px) {
	.title-pane{
		height: ;
		background: url('') top center no-repeat;
	}
	.innovations-pane{
		height: ;
		background: url('') top center no-repeat;
	}
	.funded-projects{
		height: ;
		background: url('') top center no-repeat;
	}
	
}

/* -- Landscape phone to portrait tablet -- */
@media (max-width: 768px) {
	.title-pane{
		height: ;
		background: url('') top center no-repeat;
	}
	.innovations-pane{
		height: ;
		background: url('') top center no-repeat;
	}
	.funded-projects{
		height: ;
		background: url('') top center no-repeat;
	}
	
}

/* -- Large desktop -- */
 @media (max-width: 1200px) {
 	.title-pane{
 		height: ;
		background: url('') top center no-repeat;
	}
	.innovations-pane{
		height: ;
		background: url('') top center no-repeat;
	}
	.funded-projects{
		height: ;
		background: url('') top center no-repeat;
	}
}


/*---------------
	Navbar
------------------*/
.barnav{
	font-family: 'Open Sans', serif;
	margin-left: -15px;
}

#search-input{
	width: 200px;
}




.title-pane{
	
	height: 120px;
	border: 2px solid #eee;
	padding: 15px;
	width: 100%;
	margin-bottom: 15px;
}

.anchor{
	text-decoration: none;
}


.row-Innovation{
	border-top: #eee solid 1px;
	border-right: #eee solid 1px;
	border-left: #eee solid 1px;
}
.row-Innovation p{
	font-family: ;
}

.innovation-title{
	
	text-decoration: underline;
}

.six{
	padding: 20px;
	border-left: #eee solid 1px;
}



.funded{
	border-bottom: #eee solid 2px;
}

.funded a {
	text-decoration: none;
}
.advert{
	height: 200px;
}

.write-innovation {
	border: 1px solid #eee;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.write-innovation-funding {
	border: 1px solid #eee;
	padding: 30px 20px;
	margin-bottom: 15px;
}
.write-innovation__text {
	width: 100%;
}
.write-innovation__text-funding {
	width: 50%;
}
.write-innovation__category, 
.write-innovation__cta {

}
.write-innovation__category {
	float: left;
}
.write-innovation__cta {
	float: right;
}

textarea{
	margin: auto;
	height: 300px;
	width: 75%;
}

.ww{
	margin: auto;
	text-align: center;
}

.major-selection{
	margin: auto;
	text-align: center;
}
