.main{
	font-family:  'Open sans', serif;
}

.barnav{
	font-family: 'Open Sans', serif;
	margin-left: -15px;
}
/*  ---------------------
		Media Queries 
	--------------------- */

/* -- Portrait & Landscape phone -- */
@media (max-width: 480px) {
	.dashboard{
		height: ;
		background: url('') top center no-repeat;
	}
	.innovations-pane{
		height: ;
		background: url('') top center no-repeat;
	}
	.funded-projects{
		height: ;
		background: url('') top center no-repeat;
	}
	
}

/* -- Landscape phone to portrait tablet -- */
@media (max-width: 768px) {
	.dashboard{
		height: ;
		background: url('') top center no-repeat;
	}
	.innovations-pane{
		height: ;
		background: url('') top center no-repeat;
	}
	.funded-projects{
		height: ;
		background: url('') top center no-repeat;
	}
	
}

/* -- Large desktop -- */
 @media (max-width: 1200px) {
 	.dashboard{
 		height: ;
		background: url('') top center no-repeat;
	}
	.innovations-pane{
		height: ;
		background: url('') top center no-repeat;
	}
	.funded-projects{
		height: ;
		background: url('') top center no-repeat;
	}
}

#search-input{
	width: 200px;
}

.dashboard {
	text-align: center;
	height: 150px;
	border: 2px solid #eee;
	padding: 15px;
	width: 100%;
	margin-bottom: 15px;
}
.anchor:focus{
	text-decoration: none;
}
.anchor:hover{
	text-decoration: none;
}

.funding-available, .funding-injected,.projects-funded
{
	float: left;
	padding-left: 15px;
	
}


.innovation-meta{
	display: table;
    width: 100%;
}
.innovation-meta a:hover{
	cursor: pointer;
}

.six{
	padding: 20px;
	border-left: #eee solid 1px;
	
}
.row-Innovation{
	border-top: #eee solid 1px;
	border-right: #eee solid 1px;
	border-left: #eee solid 1px;
}

.innovation-title{
	text-decoration: underline;
}



.funded{
	border-bottom: #eee solid 2px;
}

.funded a {
	text-decoration: none;
}

.advert{
	height: 200px;
}
