$navbar-height: 120px;

.navbar {
	border: none;
	border-radius: 0;
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;

	&.navbar-default {
		background-color: #EEEEEE;
	}

	&.is-floating {
		background-color: #fff;
		position: relative;
		z-index: 1000;

		@media (screen and min-width: 768px) {
			background-color: transparent;
			position: absolute;
			z-index: 1000;
		}
	}

	@media (screen and max-width: 480px) {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-header {
		position: relative;

		@media (screen and min-width:768px){
			display: inline-block;
			width: auto;
		}

		@media (screen and max-width:768px){
			width: 100%;
		}
	}

	.navbar-collapse {
		padding: 0;
		position: relative;

		@media (screen and min-width:768px){
			display: inline-block;
			float: right;
		}

		@media (screen and max-width:768px){
			background-color: #111;
			border: none;
			width: 100%;
			float: none;
			padding: 0 15px;
		}

		@media (screen and max-width: 480px) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.navbar-toggle {
		border: none;
		border-radius: 0;
		padding: 0 15px;
		margin: 0;
		height: $navbar-height;

		&:hover, &:focus {
			background-color: transparent;
		}

		.icon-bar {
			background-color: #111;
			opacity: .75;
			width: 25px;
			height: 3px;

			+ .icon-bar {
				margin-top: 7px;
			}
		}
	}

	.navbar-brand {
		padding: 0 15px;
		@media (screen and max-width: 768px) {
			padding: 0;
		}
		margin: 0;
		height: $navbar-height;

		img {
			width: auto;
			object-fit: contain;
		}
	}

	.navbar-nav {
		display: flex;
		flex-flow: row nowrap;
		margin: 0;

		@media (screen and min-width:768px){
			height: $navbar-height;
			display: flex;
			flex-flow: row nowrap;
			align-items: top;
		}

		@media (screen and max-width:768px){
			align-items: flex-start;
			justify-content:flex-start;
		}

		@media (screen and max-width:480px){
			flex-flow: column;
		}

		li {
			margin-bottom: 0px;
			text-align: center;

			@media (screen and max-width: 768px) {
				flex: 1;
				width: 100%;
			}

			a, &.navbar-text {
				font-weight: normal;
				opacity: .75;
				letter-spacing: 1px;
				padding: 22px 25px 15px;
				margin: 0;

				@media (screen and min-width: 480px) {
					background-color: transparent;
					border-top: 3px solid transparent;
				}
			}

			a:hover, a:focus, a:active {
				@media (screen and min-width: 480px) {
					background-color: transparent;
					border-top-color: currentColor;
				}
				opacity: 1;
			}
		}

		.active {
			a, a:hover {
				@media (screen and min-width: 480px) {
					background-color: transparent;
					border-top: 3px solid currentColor;
				}
				opacity: 1;
				padding-top: 22px;
			}
		}
	}

	&.is-small {
		.navbar-nav {
			height: 63px;
		}
	}
//	.navbar-left {
//		float: left;
//	}
//	.navbar-right {
//		float: right;
//
//		@media (screen and max-width: 480px) {
//			float: left;
//		}
//	}
}
