extends _layout
block content
h1 test
	navigation-main
		navigation_list
	global-header
		header_background
	navigation-inset
		navigation_list
	global-content
		login
		signup
			signup-step-0of5
			signup-step-1of5
			signup-step-2of5
			signup-step-3of5
			signup-step-4of5
			signup-step-5of5
			signup-step-progress
			signup-step-complete
		walkthrough
		app
			new
				file
				pin
				forum
			home
				file
					download
					add to bag
				pin
				forum
					comment
			groups
				activity
					file
						download
						add to bag
					pin
					forum
						comment
				files
					download
					add to bag
				new file
			noticeboard
				pin
				new pin
			forums
				forum
					comment
					new forum