// ------------------------------------------------------------
// :: Typesizes/scale
// Extracted from http://goo.gl/0MYmaa
// ------------------------------------------------------------

$alpha   	: ($epsilon*5)/1;
$beta		: ($epsilon*5)/2;
$gamma		: ($epsilon*5)/3;
$delta		: ($epsilon*5)/4;
$epsilon	: 1em;
$zeta		: ($epsilon*5)/6;
