.cta {
	border: none;
	border-radius: $border-radius;
	padding: $padding-reset-sm $gutter;
	
	&.cta__btn {
		&:hover {
			background-color: darken($dark-ui-color, .5);
		}
	}
	
	&.cta__create {
		margin-left: $padding-reset;
		background-color: $brand-color;
		color: #fff;

		&:hover {
			background-color: darken($brand-color,50%);
		}
	}
}