.inno {
	margin: .25em 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	.inno-title {
		font-weight: normal;
		margin-top: 0;
	}

	.inno-innovator {
		font-weight: normal;
	}

	.inno-summary {
		flex: 1;
	}
}
.innoList {
	display: flex;
	flex-flow: row wrap;
	padding: .25em 0;
	
	.inno {
		background-color: #fff;
		padding: $gutter $gutter $padding-reset;
		
		.inno-title {
			font-size: $h4-size;
		}
		.inno-meta {
			color: #808080;
			display: table;
			width: 100%;
			border-top: 1px solid #f0f0f0;
			margin-top: $gutter;
			padding-top: $padding-reset;

			[class*="inno-"] {
				line-height: 1;
			}

			.inno-category {
				float: left;
				padding: $padding-reset/2 0;
			}

			.inno-innovator {
				float: right;
				padding: $padding-reset/2 0;
			}

			.inno-likes {
				float: right;
				background: #f0f0f0;
				border-radius: 25px;
				padding: $padding-reset/2 $padding-reset;
			}
		}
		@media (min-width: 1200px) {
			width: 100%;
		}

		@media (max-width: 1200px) {
			margin-right: 1%;
			width: (98%/3);

			@media (min-width: 768px) {
				&:nth-child(3n) {
					margin-right: 0;
				}
			}

			@media (max-width: 768px) {
				width: (99%/2);

				&:nth-child(2n) {
					margin-right: 0;
				}

				@media (max-width: 480px) {
					width: 100%;
					margin-right: 0;
				}
			}
		}

		@media screen {
			box-shadow: 0 0 1px rgba(136,136,153,.25);
		}
	}
}

.innoGrid {
	justify-content: flex-start;
	
	.inno {
		width: 100%;
		margin-right: 1%;
		
		@media (min-width: 768px) {
			width: (98%/3);

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		
		@media (max-width: 768px) {
			width: (99%/2);

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		
		@media (max-width: 480px) {
			width: 100%;
			margin-right: 0;
		}
	}
}

.innoDetails {
	.inno-summary {
		@extend .lead;
		margin: 1em 0;
		font-weight: 300;
	}
}

.innoNew {
	background-color: #fff;
	box-shadow: 0 0 1px rgba(136,136,153,.25);
	margin-bottom: $gutter;

	.inno-summary, .inno-title, .inno-category {
		outline: none;
		resize: none;
		overflow: auto;
		opacity: .5;
		border: none;
		padding: $padding-reset;
	}

	.inno-title {
		font-size: 18px;
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.inno-summary {
		width: 100%;
		font-size: inherit;
	}

	.inno-category {
		background-color: transparent;
		border: none;
		margin-left: $gutter;
		padding: 0;
	}

	.innoDetails__header {
		display: flex;
		justify-content: space-between;
		padding: $padding-reset;
		
		.inno-title {
			flex: 5 0 0;
			opacity: .5;
			
			&:focus {
				opacity: 1;
			}
		}
	}
	.innoDetails__content {
		width: 100%;
		padding: 0 $padding-reset;
	}
	.innoDetails__footer {
		background: whitesmoke;
		display: table;
		padding: $gutter;
		width: 100%;
	}
}


[class*="step__"] {
	display: none;
}

.msg__box {
	background: #A1D46F;
	color: #fff;
	padding: $padding-reset $gutter;
	margin-bottom: $gutter;
}

.innoFilters {
	margin-bottom: $padding-reset;
	
	.filter {
		background-color: $dark-ui-color;
		padding: $padding-reset;
		border: none;
		border-radius: $border-radius;
		display: inline-block;
		font-size: $small-font-size;
		line-height: 1;
		text-decoration: none;
		margin-right: $padding-reset/2;
		margin-bottom: $padding-reset;
		
		&:hover, &.current {
			background: $brand-secondary;
			color: #fff;
			text-decoration: inherit;
		}
		
		&:not(:last-child) {
		}
	}
}

.innoData {
	background-color: #fff;
	box-shadow: 0 0 1px rgba(136,136,153,.25);
	padding: $padding-reset $gutter;
	
	.innoData__title {
		margin-bottom: $padding-reset/2;
	}
	.innoData__content {
		font-size: ($h3-size + $h4-size)/2;
		font-weight: 300;
	}
}

.innoData-list {
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: $gutter;
}

.innoData-grid {
	display: flex;
	flex-flow: row nowrap;
		
	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
	
	margin-bottom: $gutter;
	
	
	.innoData {
		background-color: #fff;
		box-shadow: 0 0 1px rgba(136,136,153,.25);
		padding: $padding-reset $gutter;

		@media (min-width: 768px) {
			flex: 1;
			margin-bottom: 1%;

			&:not(:last-child) {
				margin-right: 1%;
			}
		}

		@media (max-width: 768px) {
			width: 49%;
			flex: auto;
		}

		@media (max-width: 360px) {
			width: 100%;
		}
	}
}
