.navigation {
}
.navigation-inner {
	.nav {
		flex-direction: row;
		
		.nav__item {
			margin-right: 35px;
			
			a {
				padding-right: 35px;
				padding-bottom: 10px;
				
				&:hover {
					border-bottom-width: 3px;
				}
			}
			&.current {
				a {
					border-bottom: 3px solid currentColor;
					color: #46b980;
				}
			}
		}
	}
}
.global-navigation {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0 .5em;
	margin-bottom: 3em;
	
	.navbar-brand, .navbar-toggle {
		padding: $padding-reset 0;
		margin: 0;
		line-height: 25px;
		height: 2*$padding-reset  + 25px;		
	}
	
	.navbar-brand {
		float: left;
		margin-right: $gutter*2;
		
		.logo__title {
			margin-top: 0;
		}
	}
	
	.navbar-toggle {
		border: none;
		float: right;
		
		&:hover, &:active, &:focus {
			background: none;
		}
	}
	
	.nav {
		font-size: $base-font-size;
		
		&.navbar-nav {
			margin: 0;
		}
		
		&.navbar-left {
			float: left;
		}
		
		&.navbar-right {
			float: right;
		}
		
		li {			
			a {
				border-top: 2px solid transparent;
				color: #000;
				letter-spacing: .5px;
				transition: all .25s ease-in-out;
				padding: $padding-reset $padding-reset*3/2;
			}
			
			&.active {
				a {
					background: none;
					border-top-color: $brand-color;
					box-shadow: none;
					color: $brand-color;
				}
			}
			
			&:not(.active) {
				a:hover {
					background-color: #e7e7e7;
				}
			}
		}
	}
	
	.navbar-collapse {
		padding: 0;
	}
}