footer.global-footer
	p A product of Bongo Afrika Ltd.
	nav
		ul.nav
			li Contact
			li About
			li Advertise
			li License
			li Archives
			li Jobs
	p Bongo Afrika was build on Drupal and Handcrafted in Kenya