nav.global-navigation
	ul.nav
		li.nav__item
			a(href="/") Home
		li.nav__item
			a(href="/why-choose-us") Why Choose Us
			//
				ul.nav-inner
					li.nav__item
						a(href="/why-choose-us/quality") Quality
					li.nav__item
						a(href="/why-choose-us/accessibility") Accessibility
					li.nav__item
						a(href="/why-choose-us/environment") Environment Friendly
		li.nav__item
			a(href="/projects") projects
		li.nav__item
			a(href="/kitchens") Kitchens
		li.nav__item
			a(href="/bedrooms") Bedrooms
		li.nav__item
			a(href="/showrooms") Our Showrooms