/*-- Navigation --*/
.nav-list {
	display: block;

	.nav-list__item {
		display: inline-table;
		margin-right: 12px;
	}
}
.nav-social {
	@extend .nav-list;
}
.nav-indicators {
	@extend .nav-list;
	width: auto;
	left: 40%;

	.nav-list__item {
		width: 25px;
		height: 8px;
		border-radius: 0;
		float: left;

		&:hover, &.active {
			background: #fff;
		}
	}
}
