/*-- Used globally --*/
.is-contained {
	@extend .container;
	max-width: 70%;

	&.and-padded {
		@media (screen and min-width: 768px) {
			padding: 25px 50px;
		}
		@media (screen and max-width: 768px) {
			padding: 0 15px;
		}
		@include leader(8);
		@include trailer(10);
	}
}
.container {
	@media (screen and max-height: 768px) {
		padding: 0 25px;
	}
}
.is-centered {
	text-align: center;

	* {
		text-align: inherit;
	}
}
.is-aligned-left {
	text-align: left;
}
.is-aligned-right {
	text-align: right;
}
.is-hidden {
	display: none;
}
//.is-separated {
//	.nav-list__item {
//		&:not(:first-child) {
//			&:before {
//				border-left: 1px solid currentColor;
//				content: "";
//				padding-left: 12px;
//				opacity: .25;
//			}
//		}
//	}
//}
