extends ./layout

block content
	.Grid
		.Grid-cell
			h1 Bongo Afrika
			h2.subheading Be Free, Think and Live
			
			.hero
				p A social media platform for Innovators and Investors
				
			.hero
				h3 Sign up is totally free!!!
				a.cta Try it today
				
			.hero
				h4 Why should you be a part of this community
				p lorem ipsum
				
				.Grid
					.Grid-cell
						h4 For Innovators
						p lorem ipsum
						
					.Grid-cell
						h4 For Investors
						p lorem ipsum
				
		.Grid-cell
			nav
				ul.nav
					li
						a(href="/innovator/") Innnovator
					li
						a(href="/investor/") Investor
					li
						a(href="/about") about