extends ./layout

block navigation
	nav.global-navigation
		.logo
			h4.logo__title Bongo Afrika
		ul.nav
			li.nav__item.current
				a(href="") home
			li.nav__item
				a(href="") about	
		
block content
	.content
		form.innoNew
			input(type="text" placeholder=" A new way to send money home").cta.cta__input
			button.cta.cta__btn.cta__attach
				span.ion-camera
			button.cta.cta__btn.cta__create Create
		nav.innoFilters
			a(href="#").filter.current All
			a(href="#").filter Photography
			a(href="#").filter Inspirations
			a(href="#").filter Illustrations
			
		section.Grid.innoList
			each innovation in public.innovations._data
				.Grid-cell.innoList__item
					.inno
						header
							h3.inno-title #{ innovation.name }
						.inno-innovator
							a(href="") #{ innovation.innovator }
						footer.inno-meta
							.inno-category #{ innovation.category }
							.inno-likes #{ innovation.likes }

block right
	.ad
		| advert